.confirmation-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
  font-size: 25px;

}

.confirmation-modal {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 530px;
  width: 90%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-family: "Staatliches", sans-serif;
}

.confirmation-modal h3 {
  margin: 0 0 10px;
  color: #333;
}

.confirmation-modal p {
  margin: 0 0 20px;
  color: #555;
}

.confirmation-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.confirm-button {
  background: #f8da5b;
  color: #fff;
  border: 1px solid white;
  padding: 10px 20px;
  border-radius: 4px;
  height: 70px;
  cursor: pointer;
  transition: all .7s;
  font-size: 25px;
}

.confirm-button:hover {
  background-color: white;
  border-color: #f8da5b;
  color: #f8da5b;
}

.cancell-button {
  background-color: white;
  color: #f8da5b;
   border: 1px solid #f8da5b;
   font-size: 25px;
   height: 70px;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.cancel-button:hover {
   background-color: #f8da5b;
  border-color: white;
  color: white;
}